{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["istanbul", {
      "exclude": ["**/*.test.js", "**/*.spec.js", "**/node_modules/**"]
    }]
  ]
}
